<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
        {{ form.old_password.errors }}
        <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
        {{ form.old_password }}
    </div>

    <div>
        {{ form.new_password1.errors }}
        <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
        {{ form.new_password1 }}
    </div>

    <div>
        {{ form.new_password2.errors }}
        <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
        {{ form.new_password2 }}
    </div>

    <div>
        {% for error in form.non_field_errors %}
            <span class="error">{{ error }}</span><br>
        {% endfor %}
    </div>

    <button type="submit" onclick="{% url 'password_change_done' %}">Change Password</button>

</form>

</body>
</html>