{% extends 'partials/_responsive_logo.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        p {
            font-family: 'Franklin Gothic Book';
            font-size: 25px;
            text-align: center;
            color: #08312e;
        }

    </style>
    <title>Reset Password Sent</title>
</head>
<body>
<div style="padding-top:20%;padding-bottom:5%;text-align: center"><i style="font-size: 150px;color: #08312e" class="fa-solid fa-envelope-circle-check"></i></div>
<p>
Password reset sent
    <br>
We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

</body>
</html>
{% endblock %}