{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="height: 100vh">
            <div class="col d-lg-block d-none" style="
            background-color: #042D2C;
            padding: 0"><img src="{% static 'images/login-far.png' %}" width="100%" height="100%"> </div>
            <div class="col d-lg-block" style="
            background-color:#EBB42C;padding: 0">
                 <div class="container-fluid" style="height: 20%"></div>
                 <div class="container-fluid" style="height: 10%;">
    <b style="font-family: 'Franklin Gothic Book'; padding-left: 20%;
 font-size: 40px;
">Login</b>
</div>

    <form method="POST" role="form">
        {% csrf_token %}
        {% if messages %}
        	{% for message in messages %}
                <div class="alert alert-{{ message.tag }}" style="text-align: center">

                {{ message }}

                </div>
             {% endfor %}
        {% endif %}
    <label style="width: 50%; margin: 0 auto; text-align: center;" for="username" class="form-label">Username</label>
        {{ form.username }}

    <label style="width: 50%; margin: 0 auto; text-align: center;padding-top: 5%" for="password" class="form-label" >Password</label>
        {{ form.password}}
    <button id="obscrue"onclick="togglePasswordVisibility()" type="button" class="btn btn-primary"
            style="border: none;
      background-color: transparent;
      color:black;text-align: end;width: 81%;padding-top: 1%;font-family:'Franklin Gothic Book'">
        SHOW
    </button>
    <div style="width: 80%;text-align: end">
   <a style="color: black" href="{% url 'reset_password' %}">Forgot password?</a></div>
        <div style="text-align: center; padding-top: 5%;padding-bottom: 5%">
        <input type="submit" value="Submit" class="btn btn-warning btn-lg bg-black rounded-0 text-warning">

    </div>
   </form>

                <div class="row" style="width: 90%">
<div class="col-7" style="text-align: end;margin: 0;padding: 0" >
                    <p style="margin: 0">Not registered yet?</p>
                </div>
                    <div class="col">
                        <p style="margin: 0"><b><a style="color: black" href="{% url 'register' %}">Register Now!</a></b></p>
                    </div>

                </div>

            </div>
        </div>
    </div>
<script>
    function togglePasswordVisibility() {
    var passwordField = document.getElementById("id_password");
    var passwordToggle = document.getElementById("obscrue");

    if (passwordField.type === "password") {
        passwordField.type = "text";
        passwordToggle.innerText = "HIDE"
    } else {
        passwordField.type = "password";
        passwordToggle.innerText= "SHOW"
    }
}
</script>
</body>
</html>